# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# dotenv secret file
.env

# Personal artifacts
data/resume.docx
data/preferences.txt
data/*.xlsx

# Logs
logs/

# Byte-compiled / optimized / DLL files
*.pyc
